/dist
/node_modules
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
npm-debug.log
/typings
/documentation

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
