.mui-container-fluid {
  padding: 0;
}

/deep/ h1 {
  margin: 0.67em 0;
}

/deep/ h2 {
  margin-top: 0;
}

/deep/ .page-container {
  padding-left: 30px;
  padding-right: 30px;
}

/deep/ p:last-child {
  margin: 0;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  margin-bottom: -160px;
  padding-bottom: 160px;
}

@media (min-width: 768px) {
  #content-wrapper {
    margin-left: 200px;
  }
}
