<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href='//cdn.muicss.com/mui-0.9.36/css/mui.min.css' rel='stylesheet'>
    <style>
      h2 { margin-top: 0; }
      textarea[readonly] {
        background: #fff;
        border: 1px solid #999;
      }
    </style>
  </head>
  <body>
    <h2>Study Group {{ room_number }} Chat Room</h2>
    <p>Logged in as: <span id='username'>{{ username }}</span></p>
    <textarea id='chat-log' cols='80' rows='20' readonly></textarea><br>
    <input id='chat-message-input' type='text' size='81'><br>
    <!-- <input id='chat-leave' type='button' value='Leave'> -->
    <input id='chat-message-submit' class='mui-btn mui-btn--primary' type='button' value='Send'>
  </body>
  <script>
  var roomNumber = '{{ room_number }}';
  var user = '';

  // Connect to the websocket
  // var IP = "127.0.0.1:8000";
  var IP = '10.25.69.186:8000';
  var chatSocket = new WebSocket(
    'ws://'+ IP +'/' + roomNumber);

    console.log('Websocket connected');

    // Function when message is sent
    chatSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var message = data['message'];
      var user = data['username'];
      var prev_messages = data['prev_messages'];

      // Display previous messages
      if (prev_messages) {
        for (var date in prev_messages) {
          document.querySelector('#chat-log').value += (prev_messages[date][0] + ': ' + prev_messages[date][1] + '\n');
        }
      }

      // Display new message
      if (user && message) {
        document.querySelector('#chat-log').value += (user + ': ' + message + '\n');
      }

      // Keep chat log scrolled to bottom
      document.getElementById('chat-log').scrollTop = document.getElementById('chat-log').scrollHeight;
    };

    // Function when websocket is closed
    chatSocket.onclose = function(e) {
      console.log('Websocket disconnected');
    };

    // Function when the submit button is pressed or enter key is pressed when sending a message.
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#chat-message-submit').click();
      }
    };

    // Function when message is submitted
    document.querySelector('#chat-message-submit').onclick = function(e) {
      var messageInputDom = document.querySelector('#chat-message-input');
      var message = messageInputDom.value;
      var username = document.getElementById('username').innerText;
      if (chatSocket.readyState) {
        chatSocket.send(JSON.stringify({
          'message': message,
          'username': username,
          'room': roomNumber,
        }));
      }

      messageInputDom.value = '';
    };

    // Function when someone leaves a chat
    // document.querySelector('#chat-leave').onclick = function(e) {
    //   chatSocket.close();
    //   document.querySelector('#chat-log').value = '';
    // };
  </script>
</html>
